[submodule "ARK-Server-API"]
	path = ARK-Server-API
	url = https://github.com/MolluskARK/ARK-Server-API.git 
[submodule "ARK-Server-Plugins"]
	path = ARK-Server-Plugins
	url = https://github.com/Michidu/Ark-Server-Plugins.git
